{% extends  "base.html" %}

{% block title %}
История отправленных оповещений
{% endblock %}

{% block main %}


<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
<link href="/static/incident/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<script type="text/javascript" src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>

<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>



 <div id="example-table"> </div>
 <div> <button id="select-row" class="dt-button">Посмотреть рассылку</button> </div>



{% endblock %}


{% block extra_js %}
<script>

document.getElementById("select-row").addEventListener("click", function(){
    var selectedData = table.getSelectedData();
    console.log(selectedData);  
    window.location.href = '/notification_sended_detail/' +  selectedData[0].pk;

});


var tabledata =  {{ notifications }};
var DateTime = luxon.DateTime;
//console.log(received_data);



var table = new Tabulator("#example-table", {
  height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
  data:tabledata, //assign data to table
  layout:"fitData",
  pagination:"true",
  paginationSize:10,
  paginationSizeSelector:[10, 25, 50],
  paginationCounter:"rows",
  height:"100%",
  selectable:1,
  // layout:"fitColumns", //fit columns to width of table (optional)
  locale:"en-us",
    langs:{
        "en-us":{
            "pagination":{
                "page_size":"Кол-во строк", //label for the page size select element
                "first":"Первая", //text for the first page button
                "first_title":"Первая", //tooltip text for the first page button
                "last":"Последня",
                "last_title":"Последня",
                "prev":"Предыдущая",
                "prev_title":"Предыдущая",
                "next":"Следующая",
                "next_title":"Следующая",
                "counter":{
			           	"showing": "Показано",
    				      "of": "из",
				          "rows": "строк",
				          "pages": "страниц",
			          },
            }
        },

    },
  columns:[ //Define Table Columns
    {title:"Номер отправки", field:"pk", hozAlign:"center", headerFilter:"number", headerFilterPlaceholder:"введите номер", headerFilterFunc:"="},
    {title:"Отправлено", field:"formatted_date",  headerFilter:"input", headerFilterFunc:"like"},
    {title:"Система", field:"incident__component__name", headerFilter:"list", headerFilterParams:{autocomplete:true, valuesLookup:true, clearable:true}},
    {title:"Тема", field:"subject",  headerFilter:"input"},
  ],
});

// //trigger an alert message when the row is clicked
// table.on("rowClick", function(e, row){ 
//  alert("Row " + row.getData().id + " Clicked!!!!");
// });

</script>
{% endblock %}
