{% extends  "base.html" %}

{% block title %}
Информация по обращению  
{% endblock %}

{% block main %}


<div class="card">
  <h5 class="card-header">Оповещение № {{notification.pk}}</h5>
  <div class="card-body">
    <p class="card-text"><b>Название оповещения</b> {{notification.name}} </p>
    <p class="card-text"><b>Отправлено:</b> {{notification.created_at }}</p>
    <p class="card-text"><b>Система:</b> {{notification.component.name}}</p>
    <p class="card-text"><b>Заголовок письма:</b> {{notification.subject}}</p>
    <p class="card-text"><b>Текст письма:</b> {{notification.text}} </p>
    <p class="card-text"><b>Адресаты:</b> {{notification.emails}}</p>
    <p class="card-text"><b>Копии:</b> {{notification.emails_copy }}</p>
    <p class="card-text"><b>Скрытые копии:</b> {{notification.emails_hidden }}</p>
    <p class="card-text"><b>Календарь отправки:</b> {{ notification.send_plan_on_calendar }}</p>
  </div>
</div>



{% endblock %}


{% block extra_js %}
<script>



</script>
{% endblock %}
