{% extends  "base.html" %}

{% block title %}
Информация по проблеме  
{% endblock %}

{% block main %}

{% load mathfilters %}
<div class="card">
  <h5 class="card-header">Проблема № {{problem.pk}}</h5>
  <div class="card-body">
    <p class="card-text"><b>Дата регистрации проблемы:</b> {{problem.start_date}} </p>
    <p class="card-text"><b>Дата закрытия проблемы:</b> {{problem.end_date }}</p>
    <p class="card-text"><b>Система:</b> {{problem.component.name}}</p>
    <p class="card-text"><b>Количество инцидентов по проблеме:</b> {{problem.count}}</p>
    <p class="card-text"><b>Время простоя (мин.) :</b> {{ problem.sum.total_seconds |  div:60 | floatformat:"0"  }}</p>
    <p class="card-text"><b>Статус:</b> {{problem.status}}</p>
    <p class="card-text"><b>Наименование проблемы:</b> {{problem.name}} </p>
    <p class="card-text"><b>Описание:</b> {{problem.description}}</p>
    <p class="card-text"><b>Причина:</b> {{problem.cause }}</p>
    <p class="card-text"><b>Мероприятия по недопущению:</b> {{problem.prevent }}</p>
    <p class="card-text"><b>Мониторинг :</b> {{ problem.monitoring }}</p>

  </div>
</div>
<br>

<h4>Инциденты входящие в проблему</h4>


<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
<link href="/static/incident/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<script type="text/javascript" src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>

<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>


 <div id="example-table"></div>
 <div> <button id="select-row" class="dt-button">Посмотреть инцидент</button> </div>


{% endblock %}


{% block extra_js %}
<script>


document.getElementById("select-row").addEventListener("click", function(){
    var selectedData = table.getSelectedData();
    
    // const pk = selectedData['pk'];
    console.log(selectedData);  
    window.location.href = '/' +  selectedData[0].id;

});


var tabledata =  {{ incident }};
var DateTime = luxon.DateTime;
//console.log(received_data);



var table = new Tabulator("#example-table", {
  height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
  data:tabledata, //assign data to table
  layout:"fitData",
  pagination:"true",
  paginationSize:10,
  paginationSizeSelector:[10, 25, 50],
  paginationCounter:"rows",
  height:"100%",
  selectable:1,
  // layout:"fitColumns", //fit columns to width of table (optional)
  locale:"en-us",
    langs:{
        "en-us":{
            "pagination":{
                "page_size":"Кол-во строк", //label for the page size select element
                "first":"Первая", //text for the first page button
                "first_title":"Первая", //tooltip text for the first page button
                "last":"Последня",
                "last_title":"Последня",
                "prev":"Предыдущая",
                "prev_title":"Предыдущая",
                "next":"Следующая",
                "next_title":"Следующая",
                "counter":{
			           	"showing": "Показано",
    				      "of": "из",
				          "rows": "строк",
				          "pages": "страниц",
			          },
            }
        },

    },
  columns:[ //Define Table Columns
    {title:"Номер инцидента", field:"id", hozAlign:"center"},
    // {title:"Время создания", field:"formatted_start_date",  headerFilter:"input", headerFilterFunc:"like"},
    // {title:"Время закрытия", field:"formatted_end_date",  headerFilter:"input", headerFilterFunc:"like"},
    {title:"Система", field:"component__name"},
    {title:"Описание инцидента", field:"description"},
    // {title:"Статус", field:"status__name", headerFilter:"list", headerFilterParams:{autocomplete:true, valuesLookup:true, clearable:true}},
    // {title:"Инцидентов по проблеме", field:"count"},
    // {title:"Суммарное влияние мин.", field:"formatted_sum_min"},
  ],
});

</script>
{% endblock %}
