{% extends  "base.html" %}

{% block title %}
Инцидент
{% endblock %}

{% block main %}


<br> 

<p> Отчет по SLA за {{ current_year }} год</p>

<p></p>


<form method="GET" enctype="multipart/form-data">
  {{ form.as_p }}
  <input type="submit" value="Выберите год" class="btn btn-outline-primary">  
</form>


  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Наименование компоненты</th>
            <th scope="col" class="table-info">Целевое SLA</th>
            <th scope="col">1 квартал</th>
            <th scope="col">2 квартал</th>
            <th scope="col">3 квартал</th>
            <th scope="col">4 квартал</th>            
          </tr>
        </thead>
        <tbody>
     {% for service_name,service_data in ms.items %}
          <tr>
            <td>{{service_name }}</td>
          <td> {{ service_data.1.current_sla   | default_if_none:"-" }}
          </td>
          {% comment %} <td> component_data.1.curent_sla</td> {% endcomment %}
            {% for   month_num, month_data in service_data.items %}
            
            <td class={{month_data.alert_color}}> {% if month_data.sla  == "NaN"  %} {% else %} {{month_data.number_of_incident}}/{{ month_data.unavailability }}/{{ month_data.sla }} {% endif %}</td>
            {% endfor %} 
          </tr>
        {% endfor %} 
        </tbody>
      </table>

<p>Первым значением указано количество инцидентов, вторым  недоступность в минутах, третьим значением через "/" рассчитанный SLA </p>

<div>
  <canvas id="myChart"></canvas>
</div>



{% endblock %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>
function getRandomColor() {
  var letters = '0123456789ABCDEF'.split('');
  var color = '#';
  for (var i = 0; i < 6; i++ ) {
      color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
      }



</script>





<script>
  const labels = [
    'Январь',
    'Февраль',
    'Март',
    'Апрель',
    'Май',
    'Июнь',
    'Июль',
    'Август',
    'Сентябрь',
    'Октябрь',
    'Ноябрь',
    'Декабрь',
  ];



  
  const data = {
    labels: labels,
    
    

    datasets: [
    {% for service_name, service_data in ms.items %}
   
      {
        label: '{{service_name }}',
        data:  [     {% for   month_num, month_data in service_data.items %} {{ month_data.sla }}, {% endfor %}  ],
        borderColor: getRandomColor(),
        fill: false,
        cubicInterpolationMode: 'monotone',
        tension: 0.4
      },
    {% endfor %}
    ]

    
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      },
      scales: {
        y: {
          min: 98,
          max: 100,
        }
      }
    }
    
  };
</script>




<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

 

 

{% endblock %}
