{% extends  "base.html" %}

{% block title %}
Инцидент
{% endblock %}

{% block main %}


<br> 

<p> Подробоная информация по инцидентам на системе "{{ component }}"  за {{ month }} месяц {{ year }} год</p>

<p></p>

  


  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Номер инцидента</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
          </tr>
        </thead>
        <tbody>
       {% for item in ips.items %}    
      
          <tr>
            <td> <a href={% url 'incident_view'  item.0 %}> {{ item.0 }} </a></td>         
            <td> {{ item.1.start_date }}</td>
            <td>{{ item.1.end_date }}</td>
          </tr>
 
        {% endfor %} 
        </tbody>
      </table>


<div>
  <canvas id="myChart"></canvas>
</div>



{% endblock %}


{% block extra_js %}


{% endblock %}
