{% extends  "base.html" %}

{% block title %}
Плановая работв
{% endblock %}

{% block main %}

<br> 

<div class="card">
    <h5 class="card-header">Плановая работа № {{incident.id}}</h5>
    <div class="card-body">
      {% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
      <p class="card-text"><b>Дата начала работ:</b> {{incident.start_date}} </p>
      <p class="card-text"><b>Дата окончания работ:</b> {{incident.end_date}}</p>
      <p class="card-text"><b>Продолжительность(мин.):</b> {{incident.duration}} </p>
      <p class="card-text"><b>Направление:</b> {{incident.component.service.direction}}</p>
      <p class="card-text"><b>Компонент:</b> {{incident.component}}</p>
      <p class="card-text"><b>Обслуживание компонента:</b> {{incident.component.get_responsible_display}}</p>
      <p class="card-text"><b>Владалец компоненты сервиса:</b> {{incident.component.owner}}</p>
      <p class="card-text"><b>Категория работ:</b> {{incident.category}}</p>
      <p class="card-text"><b>Ссылка на задачу:</b> <a href={{incident.url}} target="_blank">{{incident.url}}</a></p>
      <p class="card-text"><b>Описание аварии:</b> {{incident.description}}</p>
      <p class="card-text"><b>Ответственный сотрудник:</b> {{incident.employee}}</p>
      <p class="card-text"><b>Причины работ:</b> {{incident.cause}}</p>
      <p class="card-text"><b>Проведенные мероприятия и рекомендации по устранению причин аварии:</b> {{incident.prevention}}</p>
      <p class="card-text"><b>Информирование руководства:</b> {{ incident.informimng|yesno:"Произведено,Не произведено" }}</p>
      <p class="card-text"><b>Учет при расчете SLA:</b> {{incident.sla|yesno:"Учитывается,Не учитывается"}}</p>
      <p class="card-text"><b>Сервисы:</b> {% for service in incident.component.service.all %}  {{service.name}}, {% endfor %}</p>
    </div>
  </div>




{% endblock %}


{% block extra_js %}



{% endblock %}
