{% extends  "base.html" %}

{% block title %}
Готовае ответы для техподдержки
{% endblock %}

{% block main %}

<br> 

 <!-- toast -->
 <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Текст скопирован</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
    </div>
    <div class="toast-body" id="toast-message">
      Ошибка при создании 1
    </div>
  </div>
</div>


<p></p>
<p></p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Название ответа</th>
        <th scope="col">Текст ответа</th>
      </tr>
    </thead>
    <tbody>
   {% for answer in answers %}    
  
      <tr>
        <td>{{ answer.name }}</td>
        <td><div id="{{ answer.id }}" onclick="copyDivToClipboard(this.id)" style="cursor: pointer;">{{ answer.text }}</div></td>
      </tr>

    {% endfor %} 
    </tbody>
  </table>





{% endblock %}

{% block extra_js %}
<script>
 function copyDivToClipboard(clicked_id) {
                    var range = document.createRange();
                    range.selectNode(document.getElementById(clicked_id));
                    window.getSelection().removeAllRanges(); // clear current selection
                    window.getSelection().addRange(range); // to select text
                    document.execCommand("copy");
                    window.getSelection().removeAllRanges();// to deselect
                    show_toast("");
                }

function show_toast(msg) {
         document.getElementById('toast-message').innerHTML = msg

         var toastElList = [].slice.call(document.querySelectorAll('.toast'))
         var toastList = toastElList.map(function (toastEl) {
             return new bootstrap.Toast(toastEl)
         })
         toastList.forEach(toast => toast.show())
     }


</script>
{% endblock %}