{% extends  "base.html" %}

{% block title %}
Инцидент
{% endblock %}

{% block main %}

<br> 



  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}    
    {{ form.as_p }}
     <input type="submit" value="Посмотреть систему" class="btn btn-outline-primary">     
     <button onclick="window.location.href='{% url 'export_systems_csv' %}';" class="btn btn-outline-primary">
      Выгрузить список систем
    </button>    
  </form>
  

  

<p></p>
<p></p>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Название системы:</strong> {{component.name}}</li>
    <li class="list-group-item"><strong>Сервис:</strong>{% for service in component.service.all %}{{ service | default_if_none:""}},&nbsp{% endfor %}</li>


    
    <li class="list-group-item"><strong>Владелец системы(менеджер):</strong> {{component.owner  | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Обслуживание:</strong> {{component.get_responsible_display  | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Влияние на бизнес:</strong> {{component.influence | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Направление:</strong> {{component.service.direction | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Установленный уровень SLA:</strong> {{component.service.sla | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Внутренняя поддержка:</strong> {{component.internal_support.description | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Внешняя поддержка:</strong> {{component.external_support.description | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Внутренние контакты:</strong> {{component.internal_contact.description | default_if_none:""}}</li>
    <li class="list-group-item"><strong>Внешние контакты:</strong> {{component.external_contact.description | default_if_none:""}}</li>

</ul>



{% endblock %}



