{% extends  "base.html" %}

{% block title %}
Инцидент
{% endblock %}

{% block main %}

<br> 

<div class="card">
    <h5 class="card-header">Инцидент № {{incident.id}}</h5>
    <div class="card-body">
      {% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
      <p class="card-text"><b>Дата начала инцидента:</b> {{incident.start_date}} </p>
      <p class="card-text"><b>Дата окончания инцидента:</b> {{incident.end_date}}</p>
      <p class="card-text"><b>Продолжительность(мин.):</b> {{incident.duration}} </p>
      <p class="card-text"><b>Направление:</b> {{incident.component.service.direction}}</p>
      <p class="card-text"><b>Компонент:</b> {{incident.component}}</p>
      <p class="card-text"><b>Обслуживание компонента:</b> {{incident.component.get_responsible_display}}</p>
      <p class="card-text"><b>Владалец компоненты сервиса:</b> {{incident.component.owner}}</p>
      <p class="card-text"><b>Влиянние компоненты на бизнес:</b> {{incident.component.influence}}</p>
      <p class="card-text"><b>Категория аварии:</b> {{incident.category}}</p>
      <p class="card-text"><b>Ссылка на задачу:</b> <a href={{incident.url}} target="_blank">{{incident.url}}</a></p>
      <p class="card-text"><b>Описание аварии:</b> {{incident.description}}</p>
      <p class="card-text"><b>Ответственный сотрудник:</b> {{incident.employee}}</p>
      <p class="card-text"><b>Количество сотрудников затронутых аварией:</b> {{incident.affected | default_if_none:""}}</p>
      <p class="card-text"><b>Причины аварии:</b> {{incident.cause}}</p>
      <p class="card-text"><b>Проведенные мероприятия и рекомендации по устранению причин аварии:</b> {{incident.prevention}}</p>
      <p class="card-text"><b>Информирование руководства:</b> {{ incident.informimng|yesno:"Произведено,Не произведено" }}</p>
      <p class="card-text"><b>Учет при расчете SLA:</b> {{incident.sla|yesno:"Учитывается,Не учитывается"}}</p>
      <p class="card-text"><b>Сервисы:</b> {% for service in incident.component.service.all %}  {{service.name}}, {% endfor %}</p>
    </div>
  </div>

  <form action="{% url 'notification_create' incident.id  %}" method="get">  
    <div class="row mt-3 ">
      <div class="col-sm">
        <select id="select" class="form-control" name="notification">
          <option selected disabled>Выберите тип оповещения:</option>
            {% for notification_type  in  incident.component.notification_types.all %}
            <option value='{{ notification_type.id }}'>{{ notification_type.name }}</option>
            {% endfor %}>
          </select>	
      </div>
      <div class="col-sm text-center">
        <button id="notification" class="btn btn-outline-primary">Отправить оповещение:</button>
      </div>
    </form>
  
<div class="card mt-3 mb-5">

    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for notification  in  incident.notifications.all %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{notification.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{notification.id}}" aria-expanded="false" aria-controls="flush-collapse{{notification.id}}">
            Отправлено оповещения об аварии {{notification.created_at}}:
          </button>
        </h2>
        <div id="flush-collapse{{notification.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <p >   <b>Тема оповещения:</b>  {{notification.subject}}</p>
            <p >   <b>Текст оповещения:</b>  {{notification.text}}</p>
            <p >    <b>Список адресов:</b>  {{notification.emails}} </p>
            <p >    <b>Список адресов скрытой копии:</b>  {{notification.emails_hidden}} </p>
            <p >    <b>Приложенные файлы:</b> <a href={{notification.notificationfile}} target="_blank">{{notification.notificationfile}}</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> 

  </div>





{% endblock %}


{% block extra_js %}



{% endblock %}
