{% extends  "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block main %}
  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Номер аварии</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Система</th>
          </tr>
        </thead>
        <tbody>
        {% for incident in incident_list %}
          <tr>
            <td>{{ incident.id }}</td>
            <td>{{ incident.start_date }}</td>
            <td>{{ incident.end_date }}</td>
            <td>{{ incident.system }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>



{% endblock %}

