{% extends  "base.html" %}

{% block title %}
Incident System
{% endblock %}

{% block main %}


<p></p>
<p></p>

<div class="row">
  <div class="col-sm-12">

    <tbody><tr>
      <td>Дата начала аварии:</td>
      <td><input type="text" id="min" name="min"></td>
  </tr>
  <tr>
      <td>Дата окончания аварии:</td>
      <td><input type="text" id="max" name="max"></td>
  </tr>
<p></p>
<p></p>




      <table id="incidents" class="table table-striped table-bordered display" style="width:100%">
          <thead>

              <tr class="table-filter-dropdown">
                <th></th>
                <th id="start_date_select"></th>
                <th></th>
                <th></th>
                <th id="component_select"></th>
                <th id="category_select"></th>
                <th id="sla_select"></th>
                <th></th>
                <th></th>
               </tr>

               <tr>
                <th>Номер инцидента</th>
                <th>Дана начала</th>
                <th>Дата окончания</th>
                <th>Прод. мин.</th>
                <th>Компонент</th>
                <th>Категория</th>
                <th>Внешнияя причина</th>
                <th>Описание аварии</th>
                <th>Причины аварии</th>
              </tr>
          </thead>

      </table>
  </div>
</div>



{% endblock %}


{% block extra_js %}
<script>


  var minDate, maxDate;
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[1] );
 
        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
);


  $(document).ready(function() {
    var events = $('#events');

    
    minDate = new DateTime($('#min'), {
      format: 'DD-MM-YYYY HH:mm',
      buttons: {
        today: true,
        clear: true
    }
  });
  maxDate = new DateTime($('#max'), {
      format: 'DD-MM-YYYY HH:mm',
      buttons: {
        today: true,
        clear: true
    }
  }); 
  


    var table = $('#incidents').DataTable({
     dom: '<"top">lfrt<"bottom"Bpi><"clear">',
     
      select: {
        style: 'single'
    },
      buttons: [
        'copy', 'csv', 'excel',
          {
              text: 'Просмотреть инцидент',
              action: function () {
                  var d = table.row( { selected: true } ).data();
                  window.location.href='/'+d.id;
                  
              }
          }
      ],
          lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
          order: [ 1, 'desc' ],
          serverSide: true,
          ajax: "api/filter/incidents/?format=datatables",
          columns: [
              {"data": "id","searchable": true},
              {"data": "start_date","searchable": false,
                render: function(data, type, row){
                  if(type === "sort" || type === "type"){
                      return data;
                  }          
                
                return moment(data).tz("Europe/Moscow").format("DD-MM-YYYY HH:mm");
                  }
              },
              {"data": "end_date","searchable": false,
                render: function(data, type, row){
                  if(type === "sort" || type === "type"){
                      return data;
                  }
                  return moment(data).tz("Europe/Moscow").format("DD-MM-YYYY HH:mm");
                }          
              },
              {"data": "duration","searchable": false},
              {"data": "component_name", "name": "component_name", defaultContent: "-","searchable": false},
              {"data": "category_name", "name": "category_name", defaultContent: "-", "searchable": false},
              {"data": "external_problem",type: 'Boolean'},
              {"data": "description","searchable": false},
              {"data": "cause","searchable": false},
              //{"data": "genres", "name": "genres.name", "sortable": false},
          ],
          "columnDefs": [
          {
                 "render": function ( data, type, row ) {
                  return data?'Да':'Нет';
              },
             "targets": 6 
           }
       ]
      });





    
      $('#min, #max').on('change', function () {
        var date = moment($(this).val(),"DD-MM-YYYY HH:mm");
        col_num=$(this).attr('id') == 'min' ? 1:2;
        if (date._isValid) {
          table.columns(col_num).search(date.format(), true).draw();
        }
        else {
          table.columns(col_num).search("").draw();;
        }


    });





    yadcf.init(table, [
        {
            column_number: 4,
            filter_type: 'multi_select',
            filter_container_id: 'component_select',
            select_type: 'select2',
            filter_default_label: "Выберите компонент",
            // static data can be declared here, otherwise it can be pulled via Ajax (see below)
            // data: [{"value": 2, "label": "The Beatles"}]
        },
        {
            column_number: 5,
            filter_type: 'multi_select',
            filter_container_id: 'category_select',
            select_type: 'select2',
            filter_default_label: "Выберите категорию",
            // static data can be declared here, otherwise it can be pulled via Ajax (see below)
            // data: [{"value": 2, "label": "The Beatles"}]
        },
        {
            column_number: 6,
            filter_type: 'select',
            filter_container_id: 'sla_select',
            select_type: 'select2',
            data:   [{value: 'True', label: 'Да'}, {value: 'False', label: 'Нет'}],
            filter_default_label: "Выберите Да/Нет"
            // static data can be declared here, otherwise it can be pulled via Ajax (see below)
            // data: [{"value": 2, "label": "The Beatles"}]
        },
  
          // static data can be declared here, otherwise it can be pulled via Ajax (see below)
          // data: [{"value": 2, "label": "The Beatles"}]
      
        ]
    );
    
    $.ajax({
      type: "GET",
      url: "/api/filter/incidents/component/options/",
      success: function (res) {
          var componentOptions = res.options;
          yadcf.exRefreshColumnFilterWithDataProp(table, 4, componentOptions);
      },
      error: function (err) {
          console.log('error:incident component options:', err);
      }
  });

  $.ajax({
      type: "GET",
      url: "/api/filter/incidents/category/options/",
      success: function (res) {
          var categoryOptions = res.options;
          yadcf.exRefreshColumnFilterWithDataProp(table, 5, categoryOptions);
      },
      error: function (err) {
          console.log('error:incident category options:', err);
      }
  });


});


</script>
{% endblock %}
