{% extends  "base.html" %}

{% block title %}
Отправка оповещения
{% endblock %}

{% block main %}



 <!-- Popperjs -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
 <!-- Tempus Dominus JavaScript -->
 <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
 
 <!-- Tempus Dominus Styles -->
 <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

 <script src="https://kit.fontawesome.com/c0c6ddd86c.js" crossorigin="anonymous"></script>


 <!-- toast -->
 <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Внимание!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
    </div>
    <div class="toast-body" id="toast-message">
      Ошибка при создании 1
    </div>
  </div>
</div>

<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        {% if field.is_hidden %}
        <div class = "form-group" style="display: none;">
          <p>  <p class="h5">{{ field.label_tag }}</p> {{ field }} 
          {% if field.errors %}
          <div class="alert alert-danger"
              {{ field.errors }}   
          {% endif %}
          </div>
        {% else %}
        <div class = "form-group">
        <p>  <p class="h5">{{ field.label_tag }}</p> {{ field }} 
        {% if field.errors %}
        <div class="alert alert-danger"
            {{ field.errors }}   
        {% endif %}
        </div>
        {% endif %}
        </p>
        </div>
    {% endfor %}

  

    <div class="row">
        <div class="col-sm-4" id="htmlTarget">
          <p class="h5"><label for="datetimepicker1Input" class="form-label">Выберите дату для отправки ко времени</label></p>
          <div class="input-group log-event" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input name="datetimepicker1Input" id="datetimepicker1Input" type="text" class="form-control" data-td-target="#datetimepicker1">
            <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
              <i class="fas fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
      <br/>

      <select class="form-select" aria-label="Default select" name="send_select" id="send_select" required>
        <option value="0" selected >Выберите тип отправки оповещения</option>
        <option value="1">Отправить немедленно</option>
        <option value="2">Отправить по календарю</option>
        <option value="3">Отправить ко времени</option>
      </select>
<br/>
    <div class="col-sm text-center">
        <button id="notification" class="btn btn-outline-primary">Отправить</button>
    </div>
    <br/>

</form>




{% endblock %}

{% block extra_js %}
<script>

window.datetimepicker1 = new tempusDominus.TempusDominus(
  document.getElementById('datetimepicker1'),
  {
    multipleDates: true,
    localization: {
      locale: 'ru',
      hourCycle: 'h24',
      dateFormats: {
        LTS: 'HH:mm:ss',
        LT: 'HH:mm',
        L: 'dd.MM.yyyy',
        LL: 'MMMM d, yyyy',
        LLL: 'MMMM d, yyyy HH:mm',
        LLLL: 'dddd, MMMM d, yyyy HH:mm'
      },
    },
    display: {
        icons: {
        type: 'icons',
        time: 'fa-solid fa-clock',
        date: 'fa-solid fa-calendar',
        up: 'fa-solid fa-arrow-up',
        down: 'fa-solid fa-arrow-down',
        previous: 'fa-solid fa-chevron-left',
        next: 'fa-solid fa-chevron-right',
        today: 'fa-solid fa-calendar-check',
        clear: 'fa-solid fa-trash',
        close: 'fa-solid fa-xmark'
      },
   },
  }
);

// datetimepicker1.locale(tempusDominus.locales.ru.name)


document.getElementById('notification').onclick = function() {

//alert("button was Clicked");
    if(document.getElementById('send_select').value =='0'){
      show_toast("Пожалуйста выберите тип отправки");
      document.getElementById('send_select').focus();
      return false;
    }

    if(document.getElementById('send_select').value =='3'){
       if(document.getElementById('datetimepicker1Input').value == ''){
          show_toast("Пожалуйста даты отправки");
          document.getElementById('datetimepicker1Input').focus();
          return false;
    }
     
    }


   
}

function show_toast(msg) {
         document.getElementById('toast-message').innerHTML = msg

         var toastElList = [].slice.call(document.querySelectorAll('.toast'))
         var toastList = toastElList.map(function (toastEl) {
             return new bootstrap.Toast(toastEl)
         })
         toastList.forEach(toast => toast.show())
     }
</script>




{% endblock %}