{% extends  "base.html" %}

{% block title %}
Общий отчет по системам
{% endblock %}

{% block main %}


<br> 

<p> Общий отчет по системам за {{ get_year }} год</p>

<p></p>


<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}  
  {{ form_system_year.as_p }}
  <input type="submit" value="Выберите дату и систему для отчёта" class="btn btn-outline-primary">  
</form>


  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Наименование инцидента</th>
            <th scope="col">Январь</th>
            <th scope="col">Февраль</th>
            <th scope="col">Март</th>
            <th scope="col">Апрель</th>
            <th scope="col">Май</th>
            <th scope="col">Июнь</th>
            <th scope="col">Июль</th>
            <th scope="col">Август</th>
            <th scope="col">Сентябрь</th>
            <th scope="col">Октябрь</th>
            <th scope="col">Ноябрь</th>
            <th scope="col">Декабрь</th>
          </tr>
        </thead>
        <tbody>

      {% for category_name,category_data in mr.items %}
          <tr>
            <td>{{category_name }}</td>
          </td>
            {% for   month_num, month_data in category_data.items %}
            
            <td>
            {{month_data.number_of_incident}}/{{ month_data.unavailability }} </td>
            {% endfor %} 

          </tr>
        {% endfor %} 
        </tbody>
      </table>

<p>Первым значением указано количество инцидентов, вторым  продолжительность в минутах</p>




{% endblock %}


{% block extra_js %}


{% endblock %}
