{% extends  "base.html" %}

{% block title %}
Инцидент
{% endblock %}

{% block main %}

<br> 

  
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}    
  {{ form.as_p }}
   <input type="submit" value="Посмотреть сервис" class="btn btn-outline-primary">         
</form>


<p></p>
<p></p>

<h4>Компоненты входящие в сирвис:</h>
<ul class="list-group list-group-flush">
    {% for component in component_list %}
    <li class="list-group-item">{{ component.name }}</li>
    {% endfor %}
</ul>  



{% endblock %}


