{% load static  %}

<!DOCTYPE html>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.4-beta.45/jquery.dataTables.yadcf.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />



<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<link rel="stylesheet" href="{% static 'incident/css/common.css' %}">

<html lang="en" >
<title>{% block title %}{% endblock %}</title>
<head>
 <meta content="text/html;charset=utf-8" http-equiv="Content-Type"> <meta content="utf-8" http-equiv="encoding"> 
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Incident system</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        {% if user.is_authenticated %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if nbar == 'index' %}active{% endif %}"  href="/">Главная</a>
          </li>
      

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Справочники
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/service_catalog">Справочники сервисов</a></li>
              <li><a class="dropdown-item" href="/system_catalog">Справочник систем</a></li>
            </ul>
          </li>


          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if nbar == 'reports' %}active{% endif %} " href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Отчёты
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/sla_service">SLA по сервисам за месяц</a></li>
              <li><a class="dropdown-item" href="/sla_service_quart">SLA по сервисам за квартал</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/sla_component">SLA по системам за месяц</a></li>
              <li><a class="dropdown-item" href="/sla_component_without_external">SLA по системам за месяц без внешних систем</a></li>
              <li><a class="dropdown-item" href="/sla_component_quart">SLA по системам за квартал</a></li>
              <li><a class="dropdown-item" href="/sla_component_quart_without_external">SLA по системам за квартал без внешних систем</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/reports_system">Общий отчет по системам за месяц за месяц</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/notification_calendar">Календарь рассылок</a></li>
              <li><a class="dropdown-item" href="/notification_sended">Отчет по отправленным рассылкам</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/reports_problem">Проблемы</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if nbar == 'answer' %}active{% endif %}" href="/answers">Готовые ответы</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if nbar == 'job_calendar' %}active{% endif %}" href="/job_calendar">Календарь работ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Инструкция по заполнению</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if nbar == 'about' %}active{% endif %}" href="{% url 'about_url' %}">О программе</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if nbar == 'admin' %}active{% endif %}"  href="/admin">Администрирование</a>
          </li>

        </ul>
        {% endif%}



        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link  {% if nbar == 'logout' %}active{% endif %}" href="/accounts/logout/">Выход</a>
            {% else %}
            <a class="nav-link  {% if nbar == 'login' %}active{% endif %}" href="/accounts/login/">Вход</a>
            {% endif %}
          </li>      
        </ul>
        
      </div>
     
    </div>
  </nav>



  
<div class="container-fluid">
    {% block main %}{% endblock %}
</div>




<script src="//code.jquery.com/jquery-3.5.1.js"></script>

<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.4-beta.45/jquery.dataTables.yadcf.min.js"></script>



<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.js"></script>

<script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script src="//cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"> </script> 

<script src="//cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"> </script> 
 

<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script> 



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

 
{% block extra_js %}{% endblock %}


</body>
</html>