{% extends "base.html" %}

{% block main %}

<p></p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Пожалуйста введите свои данные для входа в систему.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}


<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <table width="100%">
            <tr>
                <td width="100%">{{ form.username.label_tag }}</td>
                <td width="100%">{{ form.username }}</td>
            </tr>
            <tr>
                <td width="100%">{{ form.password.label_tag }}</td>
                <td width="100%">{{ form.password }}</td>
            </tr>
            </table>

            <div align="right" >
            <input class="btn btn-primary" type="submit" value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
            
            
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
            </div>
            

        </div>

      <div class="col">
        
      </div>
    </div>
  </div>



</form>

{# Assumes you setup the password_reset view in your URLconf #}



  



{% endblock %}